ly-kernel/src/LuoYingSys/Data/meta/entity.xsd

<?xml version="1.0"?>
<!--
xs:string
xs:decimal
xs:integer
xs:boolean
xs:date
xs:time
-->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://luoying.huliqing.name"
           xmlns="http://luoying.huliqing.name"
           elementFormDefault="qualified">
    
    <xs:include schemaLocation="./base.xsd" />
    
    <xs:element name="root">
        <xs:complexType>
            <xs:all>
                <xs:element ref="entityAdvanceWater" />
                <xs:element ref="entityAmbientLight" />
                <xs:element ref="entityAudio" />
                <xs:element ref="entityChaseCamera" />
                <xs:element ref="entityDirectionalLight" />
                <xs:element ref="entityDirectionalLightFilterShadow" />
                <xs:element ref="entityDirectionalLightShadow" />
                <xs:element ref="entityGrass" />
                <xs:element ref="entityInstanced" />
                <xs:element ref="entityPhysics" />
                <xs:element ref="entityPlatformProxy" />
                <xs:element ref="entitySimpleModel" />
                <xs:element ref="entitySimpleTerrain" />
                <xs:element ref="entitySimpleWater" />
                <xs:element ref="entitySkyBox" />
                <xs:element ref="entityTree" />
                <xs:element ref="entityUnshaded" />
                <xs:element ref="entityEffect" />
                
                <xs:element ref="entityBloomFilter" />
                <xs:element ref="entityFXAAFilter" />
                <xs:element ref="entityFogFilter" />
                <xs:element ref="entityLightScatteringFilter" />
                <xs:element ref="entitySSAOFilter" />
            </xs:all>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="entitySSAOFilter">
        <xs:annotation><xs:documentation>SSAO stands for screen space ambient occlusion
 It's a technique that fake ambient lighting by computing shadows that near by objects would casts on each others 
 under the effect of an ambient light
 more info on this in this blog post http://jmonkeyengine.org/2010/08/16/screen-space-ambient-occlusion-for-jmonkeyengine-3-0/
 </xs:documentation></xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityBase">
                    <xs:attribute name="bias" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>Sets the the width of the occlusion cone considered by the occludee default is 0.1f</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="intensity" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>Sets the Ambient occlusion intensity default is 1.5f</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="sampleRadius" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>Sets the radius of the area where random samples will be picked dafault 5.1f</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="ssaoScale" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>Returns the distance between occluders and occludee. default 0.2f</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="entityLightScatteringFilter">
        <xs:annotation><xs:documentation>LightScattering filters creates rays comming from a light sources 
  This is often reffered as god rays.</xs:documentation></xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityBase">
                    <xs:attribute name="blurStart" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>sets the blur start
      at which distance from the light source the effect starts default is 0.02</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="blurWidth" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>sets the blur width default is 0.9</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="lightDensity" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>sets how much the effect is visible over the rendered scene default is 1.4</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="lightPosition" type="xs:string" use="optional" >
                        <xs:annotation><xs:documentation>sets the light position, e.g. "x,y,z", default is "0,0,0"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="nbSamples" type="xs:integer" use="optional" >
                        <xs:annotation><xs:documentation>sets the number of samples for the radial blur default is 50
      the higher the value the higher the quality, but the slower the performances.</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="entityFogFilter">
        <xs:annotation><xs:documentation>A filter to render a fog effect</xs:documentation></xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityBase">
                    <xs:attribute name="fogColor" type="xs:string" use="optional" >
                        <xs:annotation><xs:documentation>Sets the color of the fog, 格式: "r,g,b,a"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="fogDensity" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>Sets the density of the fog, a high value gives a thick fog, default is 0.7</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="fogDistance" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>the distance of the fog. the higer the value the distant the fog looks, default is 1000</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="entityFXAAFilter">
        <xs:annotation><xs:documentation>
            http://www.geeks3d.com/20110405/fxaa-fast-approximate-anti-aliasing-demo-glsl-opengl-test-radeon-geforce/3/
            http://developer.download.nvidia.com/assets/gamedev/files/sdk/11/FXAA_WhitePaper.pdf               
        </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityBase">
                    <xs:attribute name="reduceMul" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>set to 0.0f for higher quality, default is 0.125</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="spanMax" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>set to 0.0f for higher quality, default is 8.0</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="subPixelShift" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>default is 0.25</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="vxOffset" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>default is 0</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="entityBloomFilter">
        <xs:annotation><xs:documentation>
            BloomFilter is used to make objects in the scene have a glow effect.
 There are 2 mode : Scene and Objects.
 Scene mode extracts the bright parts of the scene to make them glow.
 Object mode make objects glow according to their material's glowMap or their GlowColor.
 @see http://jmonkeyengine.org/wiki/doku.php/jme3:advanced:bloom_and_glow for more details
        </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityBase">
                    <xs:attribute name="bloomIntensity" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>intensity of the bloom effect default is 2.0f</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="blurScale" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>sets The spread of the bloom default is 1.5f</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="downSamplingFactor" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>Sets the downSampling factor : the size of the computed texture will be divided by this factor. default is 1f for no downsampling
      A 2 value is a good way of widening the blur</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="exposureCutOff" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>Define the color threshold on which the bloom will be applied (0.0 to 1.0)</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="exposurePower" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>defines how many time the bloom extracted color will be multiplied by itself. default id 5.0
      a high value will reduce rough edges in the bloom and somhow the range of the bloom area</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="entityEffect">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityBase">
                    <xs:attribute name="effect" type="xs:string" use="required" >
                        <xs:annotation><xs:documentation>关联一个特效id</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="traceEntity" type="xs:integer" use="optional" >
                        <xs:annotation><xs:documentation>设置一个要跟随的目标实体(唯一id)</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="traceBone" type="xs:string" use="optional" >
                        <xs:annotation><xs:documentation>设置要跟随的目标实体的骨骼上的骨头名称，如果指定了这个参数，则效果位置会初始化在这个骨头的节点上。</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="entityUnshaded">
        <xs:annotation>
            <xs:documentation>
                这个实体用于将场景中的其它一些指定的实体转化为Unshaded模式的。
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityBase">
                    <xs:attribute name="unshadedTerrain" type="bool" use="optional" >
                        <xs:annotation><xs:documentation>是否将场景中的地形转化为Unshaded材质,默认false</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="unshadedPlant" type="bool" use="optional" >
                        <xs:annotation><xs:documentation>是否将场景中的植被转化为Unshaded材质,默认false</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="unshadedActor" type="bool" use="optional" >
                        <xs:annotation><xs:documentation>是否将场景中的角色转化为Unshaded材质,默认false</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="onlyPlatforms" type="xs:string" use="optional" >
                        <xs:annotation>
                            <xs:documentation>默认打开preferEnabled，但是可以指定只有在特定的平台上时才使用unshaded,在其它平台上不使用。
                                格式："platform1,platform2,..."
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="entityChaseCamera">
        <xs:annotation>
            <xs:documentation>
                第三人称跟随镜头，通常用于角色扮演（RPG）视角, 这个镜头有碰撞检测功能，可防止视角穿墙，需要给场景中添加物理环境(EnvPhysics).
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityBase">
                    <xs:attribute name="debug" type="bool" use="optional" />
                    <xs:attribute name="smoothMotion" type="bool" use="optional" >
                        <xs:annotation><xs:documentation>Enables smooth motion for this chase camera</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="trailingEnabled" type="bool" use="optional" >
                        <xs:annotation><xs:documentation>Enable the camera trailing : The camera smoothly go in the targets trail when it moves. Only has an effect if smoothMotion is set to true</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="invertVerticalAxis" type="bool" use="optional" >
                        <xs:annotation><xs:documentation>invert the vertical axis movement of the mouse</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="lookAtOffset" type="xs:string" use="optional" >
                        <xs:annotation><xs:documentation>Sets the offset from the target's position where the camera looks at,format: "x,y,z"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="zoomSensitivity" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>Sets the zoom sensitivity, the lower the value, the slower the camera will zoom in and out. default is 2.</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="rotationSpeed" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>Sets the rotate amount when user moves his mouse, the lower the value, the slower the camera will rotate. default is 1.</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="rotationSensitivity" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>Sets the rotation sensitivity, the lower the value the slower the camera will rotates around the target when draging with the mouse default is 5, values over 5 should have no effect. If you want a significant slow down try values below 1. Only has an effect if smoothMotion is set to true</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="maxDistance" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>Sets the max zoom distance of the camera (default is 40)</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="minDistance" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>Sets the min zoom distance of the camera (default is 1)</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="defaultDistance" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>Sets the default distance at start of applicaiton</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="chasingSensitivity" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>Sets the chasing sensitivity, the lower the value the slower the camera will follow the target when it moves default is 5 Only has an effect if smoothMotion is set to true and trailing is enabled</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="downRotateOnCloseViewOnly" type="bool" use="optional" >
                        <xs:annotation><xs:documentation>When this flag is set to false the chase camera will always rotate around its spatial independently of their distance to one another. If set to true, the chase camera will only be allowed to rotated below the "horizon" when the distance is smaller than minDistance + 1.0f (when fully zoomed-in).</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="upVector" type="xs:string" use="optional" >
                        <xs:annotation><xs:documentation>Sets the up vector of the camera used for the lookAt on the target</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="hideCursorOnRotate" type="bool" use="optional" >
                        <xs:annotation><xs:documentation>hideCursorOnRotate, default: "1"</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
            
    <xs:element name="entityPhysics">
        <xs:annotation>
            <xs:documentation>物理环境，添加这个环境到场景后，场景中的所有拥有物理特性的物体将受被添加到这个物理空间中。</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityBase">
                    <xs:attribute name="debug" type="bool" use="optional" />
                    <xs:attribute name="gravity" type="xs:string" use="optional" >
                        <xs:annotation><xs:documentation>重力方向，格式："x,y,z"， 默认:"0, -9.81, 0" </xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="broadphaseType" use="optional" >
                        <xs:annotation><xs:documentation>default is "DBVT"</xs:documentation></xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="SIMPLE" />
                                <xs:enumeration value="AXIS_SWEEP_3" />
                                <xs:enumeration value="AXIS_SWEEP_3_32" />
                                <xs:enumeration value="DBVT" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="threadingType" use="optional" >
                        <xs:annotation><xs:documentation>default is "SEQUENTIAL"</xs:documentation></xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="SEQUENTIAL" />
                                <xs:enumeration value="PARALLEL" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="speed" type="xs:decimal" use="optional" >
                        <xs:annotation>
                            <xs:documentation>默认: "1.0"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="worldMax" type="xs:string" use="optional" >
                        <xs:annotation>
                            <xs:documentation>格式：“x,y,z”默认："10000, 10000, 10000"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="worldMin" type="xs:string" use="optional" >
                        <xs:annotation>
                            <xs:documentation>格式：“x,y,z”默认："-10000, -10000, -10000"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="accuracy" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>sets the accuracy of the physics computation, default=1/60s</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="maxSubSteps" type="xs:integer" use="optional" >
                        <xs:annotation>
                            <xs:documentation>Sets the maximum amount of extra steps that will be used to step the physics when the fps is below the physics fps. Doing this maintains 
                            determinism in physics. For example a maximum number of 2 can compensate for framerates as low as 30fps when the physics has the default accuracy 
                            of 60 fps. Note that setting this value too high can make the physics drive down its own fps in case its overloaded. default is 4.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="solverNumIterations" type="xs:integer" use="optional" >
                        <xs:annotation><xs:documentation>Set the number of iterations used by the contact solver. The default is 10. Use 4 for low quality, 20 for high quality.</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="entityPlatformProxy">
        <xs:annotation>
            <xs:documentation>为不同的系统环境提供不同的Entity支持。
            平台列表：Windows32,Windows64,Linux32,Linux64,MacOSX32,MacOSX64,MacOSX_PPC32,MacOSX_PPC64,Android_ARM5,Android_ARM6,Android_ARM7,Android_ARM8,Android_X86,iOS_X86,iOS_ARM,Android_Other
            (see com.jme3.system.Platform)
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityBase">
                    <xs:attribute name="defaultEntity" type="xs:string" use="required">
                        <xs:annotation><xs:documentation>默认的Env,当检测不到系统平台时默认使用这个Env</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="mapping" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>
                                指定Env与平台的匹配关系，格式：“entity1|platform1|platform2, entityId2|platform3|platform4,...”
                                示例： "entityWaterAdvance|Windows32|Windows64|Linux32,entityWaterSimple|Android_ARM7|Android_ARM8"
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="entityDirectionalLightFilterShadow">
        <xs:annotation>
            <xs:documentation>阴影环境(DirectionalLightShadowFilter),可以使场景中的物体产生阴影效果，注意：要获得阴影效果必须同时满足以下几个条件：
                1.场景根节点必须有DirectionalLight; 2: 场景中物体的shadowMode必须有Cast和CastAndReceive
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityBase">
                    <xs:attribute name="disabledOnPlatforms" type="xs:string" use="optional" >
                        <xs:annotation>
                            <xs:documentation>在指定的平台上关闭阴影功能，格式: "platform1,platform2,...", 如: "iOS_X86,iOS_ARM,Android_ARM5,Android_ARM6,Android_ARM7,Android_ARM8,Android_X86,Android_Other,..."</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="shadowMapSize" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>The size of the rendered shadow maps (512,1024,2048, etc...). 默认: "1024"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="shadowMaps" type="xs:integer" use="optional" >
                        <xs:annotation><xs:documentation>The number of shadow maps rendered (the more shadow maps the more quality, the fewer fps).默认: "1"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="edgeFilteringMode" use="optional" >
                        <xs:annotation>
                            <xs:documentation>Sets the filtering mode for shadow edges see {@link EdgeFilteringMode} for more info</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Nearest" />
                                <xs:enumeration value="Bilinear" />
                                <xs:enumeration value="Dither" />
                                <xs:enumeration value="PCF4" />
                                <xs:enumeration value="PCFPOISSON" />
                                <xs:enumeration value="PCF8" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="edgesThickness" type="xs:integer" use="optional" >
                        <xs:annotation>
                            <xs:documentation>Sets the shadow edges thickness. default is 1, setting it to lower valuescan help to reduce the jagged effect of the shadow edges</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="enabledStabilization" type="bool" use="optional" >
                        <xs:annotation>
                            <xs:documentation>
                                Enables the stabilization of the shadows's edges. (default is true) This prevents shadows' edges to flicker when the camera movesHowever it can lead to some shadow quality loss in some particular scenes.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="lambda" type="xs:decimal" use="optional" >
                        <xs:annotation>
                            <xs:documentation>
                                Adjust the repartition of the different shadow maps in the shadow extend usualy goes from 0.0 to 1.0 a low value give a more linear repartition resulting in a constant quality in the shadow over the extends, but near
                                shadows could look very jagged a high value give a more logarithmic
                                repartition resulting in a high quality for near shadows, but the quality
                                quickly decrease over the extend. the default value is set to 0.65f (theoric optimal value).
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="renderBackFacesShadows" type="bool" use="optional" >
                        <xs:annotation>
                            <xs:documentation>
                                     * !! WARNING !! this parameter is defaulted to true for the ShadowFilter.
     * Setting it to true, may produce edges artifacts on shadows.     *
     *
     * Set to true if you want back faces shadows on geometries.
     * Note that back faces shadows will be blended over dark lighten areas and may produce overly dark lighting.
     *
     * Setting this parameter will override this parameter for ALL materials in the scene.
     * This also will automatically adjust the faceCullMode and the PolyOffset of the pre shadow pass.
     * You can modify them by using {@link #getPreShadowForcedRenderState()}
     *
     * If you want to set it differently for each material in the scene you have to use the ShadowRenderer instead
     * of the shadow filter.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="shadowCompareMode" use="optional" >
                        <xs:annotation>
                            <xs:documentation>
                                sets the shadow compare mode see {@link CompareMode} for more info
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Software" />
                                <xs:enumeration value="Hardware" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="shadowIntensity" type="xs:decimal" use="optional" >
                        <xs:annotation>
                            <xs:documentation>阴影强度，取值[0.0,1.0], 默认: "0.7"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="shadowZExtend" type="xs:decimal" use="optional" >
                        <xs:annotation>
                            <xs:documentation>Set the distance from the eye where the shadows will be rendered default
     * value is dynamicaly computed to the shadow casters/receivers union bound
     * zFar, capped to view frustum far value.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="shadowZFadeLength" type="xs:decimal" use="optional" >
                        <xs:annotation>
                            <xs:documentation>
                                Define the length over which the shadow will fade out when using a shadowZextend
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="entityDirectionalLightShadow">
        <xs:annotation>
            <xs:documentation>阴影环境(DirectionalLightShadowRenderer),可以使场景中的物体产生阴影效果，注意：要获得阴影效果必须同时满足以下几个条件：
                1.场景根节点必须有DirectionalLight; 2: 场景中物体的shadowMode必须有Cast和CastAndReceive
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityBase">
                    <xs:attribute name="disabledOnPlatforms" type="xs:string" use="optional" >
                        <xs:annotation>
                            <xs:documentation>在指定的平台上关闭阴影功能，格式: "platform1,platform2,...", 如: "iOS_X86,iOS_ARM,Android_ARM5,Android_ARM6,Android_ARM7,Android_ARM8,Android_X86,Android_Other,..."</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="shadowMapSize" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>The size of the rendered shadow maps (512,1024,2048, etc...). 默认: "1024"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="shadowMaps" type="xs:integer" use="optional" >
                        <xs:annotation><xs:documentation>The number of shadow maps rendered (the more shadow maps the more quality, the fewer fps).默认: "1"</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="entityAmbientLight">
        <xs:annotation>
            <xs:documentation>环境光源</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityBase">
                    <xs:attribute name="color" type="xs:string" use="optional" >
                        <xs:annotation>
                            <xs:documentation>环境光颜色,格式："r,g,b,a", 默认: "1,1,1,1"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="entityDirectionalLight">
        <xs:annotation>
            <xs:documentation>直射光源</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityBase">
                    <xs:attribute name="direction" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>直射光方向,默认: "0,-1,0"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="color" type="xs:string" use="optional" >
                        <xs:annotation>
                            <xs:documentation>直射光颜色,格式："r,g,b,a", 默认: "1,1,1,1"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="entityAudio">
        <xs:annotation>
            <xs:documentation>环境声音</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityBase">
                    <xs:attribute ref="debug" />
                    <xs:attribute name="sound" type="xs:string" use="required">
                        <xs:annotation><xs:documentation>关联到一个sound(sound.xml).</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="entityAdvanceWater">
        <xs:annotation>
            <xs:documentation>高级水体效果，对机器性能要求比较高，目前不能支持移动设备。</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityBase">
                    <xs:attribute name="center" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Set the center of the effect. By default the water will extent to the entire scene. By setting a center and a radius you can restrain it to a portion of the scene.</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="radius" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Set the radius of the effect. By default the water will extent to the entire scene. By setting a center and a radius you can restrain it to a portion of the scene.</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="waterHeight" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Sets the height of the water plane default is 0.0</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="waterColor" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Sets the color of the water see setDeepWaterColor for deep water color default is (0.0078f, 0.3176f, 0.5f, 1.0f) (greenish blue)</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="deepWaterColor" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Sets the deep water color see setWaterColor for general color default is (0.0039f, 0.00196f, 0.145f,1.0f) (very dark blue)</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="lightColor" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Sets the light color to use default is white</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="lightDirection" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Sets the light direction, default is (0, -1, 0)</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="colorExtinction" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Return at what depth the refraction color extinct the first value is for red the second is for green the third is for blue Play with thos parameters to "trouble" the water default is (5.0, 20.0, 30.0f);</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="waterTransparency" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Sets how fast will colours fade out. You can also think about this values as how clear water is. Therefore use smaller values (eg. 0.05) to have crystal clear water and bigger to achieve "muddy" water. default is 0.1f</xs:documentation></xs:annotation>
                    </xs:attribute>
                    
                    <xs:attribute name="shininess" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Sets the shinines factor of the water default is 0.7f</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="shoreHardness" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>The smaller this value is, the softer the transition between shore and water. If you want hard edges use very big value. Default is 0.1f.</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="underWaterFogDistance" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>sets the distance of the fog when under water. default is 120 (120 world units) use a high value to raise the view range under water</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="windDirection" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>sets the wind direction the direction where the waves move default is (0.0f, -1.0f)</xs:documentation></xs:annotation>
                    </xs:attribute>
                                        
                    <xs:attribute name="waveScale" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Sets the scale factor of the waves height map the smaller the value the bigger the waves default is 0.005f</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="speed" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Set the speed of the waves (0.0 is still) default is 1.0</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="maxAmplitude" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Sets the maximum waves amplitude default is 1.5</xs:documentation></xs:annotation>
                    </xs:attribute>
                    
                    <xs:attribute name="reflectionDisplace" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Sets the reflection displace. define how troubled will look the reflection in the water. default is 30</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="reflectionMapSize" type="xs:integer" use="optional">
                        <xs:annotation><xs:documentation>Sets the size of the reflection map default is 512, the higher, the better quality, but the slower the effect.</xs:documentation></xs:annotation>
                    </xs:attribute>
                    
                    <xs:attribute name="useSpecular" type="bool" use="optional">
                        <xs:annotation><xs:documentation>Set to true to use specular lightings on the water, default is true</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="sunScale" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Sets the scale of the sun for specular effect, default is 3.0</xs:documentation></xs:annotation>
                    </xs:attribute>
                    
                    <xs:attribute name="useRefraction" type="bool" use="optional">
                        <xs:annotation><xs:documentation>set to true to use refraction (default is true)</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="refractionConstant" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>This is a constant related to the index of refraction (IOR) used to compute the fresnel term.default is 0.5</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="refractionStrength" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>This value modifies current fresnel term. If you want to weaken reflections use bigger value. If you want to empasize them use value smaller then 0. Default is 0.0f.</xs:documentation></xs:annotation>
                    </xs:attribute>
                    
                    <xs:attribute name="useFoam" type="bool" use="optional">
                        <xs:annotation><xs:documentation>set to true to use foam with water, default is true</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="foamExistence" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Describes at what depth foam starts to fade out and at what it is completely invisible. The third value is at what height foam for waves appear (+ waterHeight). default is (0.45, 4.35, 1.5);</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="foamHardness" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Sets the foam hardness : How much the foam will blend with the shore to avoid hard edged water plane. Default is 1.0</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="foamIntensity" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>sets the foam intensity default is 0.5f</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="foamTexture" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Sets the foam texture</xs:documentation></xs:annotation>
                    </xs:attribute>
                    
                    <xs:attribute name="useCaustics" type="bool" use="optional">
                        <xs:annotation><xs:documentation>set to true if you want caustics to be rendered on the ground underwater, false otherwise, default is true(1)</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="causticsIntensity" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Sets the intensity of caustics under water. goes from 0 to 1, default is 0.5f</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="causticsTexture" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Sets the texture to use to render caustics on the ground underwater</xs:documentation></xs:annotation>
                    </xs:attribute>
                    
                    <xs:attribute name="useHQShoreline" type="bool" use="optional">
                        <xs:annotation><xs:documentation>Whether or not the shader is set to use high-quality shoreline. default is true</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="useRipples" type="bool" use="optional">
                        <xs:annotation><xs:documentation>Set to true to use ripples, default is true</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="useSceneLight" type="bool" use="optional">
                        <xs:annotation><xs:documentation>是否使用场景中的直射光源，打开这个选项后Water会从场景中找到第一个可用的直射光源作为水体渲染时使用的光源。否则使用Water默认设置的光源。默认true</xs:documentation></xs:annotation>
                    </xs:attribute>
                    
                    <xs:attribute name="normalScale" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Sets the normal scaling factors to apply to the normal map. the higher the value the more small ripples will be visible on the waves. default is 3.0</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="normalTexture" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Sets the normal Texture</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="heightTexture" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Sets the height texture</xs:documentation></xs:annotation>
                    </xs:attribute>
                    
                    <xs:attribute name="shapeType" use="optional">
                        <xs:annotation><xs:documentation>Set the shape of the water area (Circular (default) or Square). if the shape is square the radius is considered as an extent.</xs:documentation></xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Circular" />
                                <xs:enumeration value="Square" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="entitySimpleWater">
        <xs:annotation>
            <xs:documentation>轻量级水体效果，支持手机、移动设置。</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityModelBase">
                    <xs:attribute name="waterModel" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>指定一个模型，通常使用一个水平平面，格式：“Models/effect/water.mesh.j3o”</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="waterColor" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>e.g. "r,g,b,a"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="texScale" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>e.g. "1.0"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="waveSpeed" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>e.g. "0.05"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="distortionMix" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>e.g. "0.5"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="distortionScale" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>e.g. "0.2"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="foamMap" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>e.g. "MatDefs/SimpleWater/foam3.jpg", 设置这个参数后必须设置foamMaskMap</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="foamScale" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>e.g. "1.0,1.0"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="foamMaskMap" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>e.g. "MatDefs/SimpleWater/foamMask.jpg"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="foamMaskScale" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>e.g. "1.0,1.0"</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="entitySkyBox">
        <xs:annotation>
            <xs:documentation>天空盒，必须同时指定多张图片。每张图片宽度，高度必须一致。</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityModelBase">
                     <xs:attribute name="baseDir" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>e.g. "Textures/tex/sky/default/"</xs:documentation></xs:annotation>
                    </xs:attribute>
                     <xs:attribute name="west" type="xs:string" use="required">
                        <xs:annotation><xs:documentation>west image, e.g. "Textures/tex/sky/default/west.jpg" or "west.jpg"(if set the "baseDir")</xs:documentation></xs:annotation>
                    </xs:attribute>
                     <xs:attribute name="east" type="xs:string" use="required">
                        <xs:annotation><xs:documentation>west image, e.g. "Textures/tex/sky/default/east.jpg" or "east.jpg"(if set the "baseDir")</xs:documentation></xs:annotation>
                    </xs:attribute>
                     <xs:attribute name="north" type="xs:string" use="required">
                        <xs:annotation><xs:documentation>west image, e.g. "Textures/tex/sky/default/north.jpg" or "north.jpg"(if set the "baseDir")</xs:documentation></xs:annotation>
                    </xs:attribute>
                     <xs:attribute name="south" type="xs:string" use="required">
                        <xs:annotation><xs:documentation>west image, e.g. "Textures/tex/sky/default/south.jpg" or "south.jpg"(if set the "baseDir")</xs:documentation></xs:annotation>
                    </xs:attribute>
                     <xs:attribute name="up" type="xs:string" use="required">
                        <xs:annotation><xs:documentation>west image, e.g. "Textures/tex/sky/default/up.jpg" or "up.jpg"(if set the "baseDir")</xs:documentation></xs:annotation>
                    </xs:attribute>
                     <xs:attribute name="down" type="xs:string" use="required">
                        <xs:annotation><xs:documentation>west image, e.g. "Textures/tex/sky/default/down.jpg" or "down.jpg"(if set the "baseDir")</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="entitySimpleTerrain">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityModelBase">
                    <xs:attribute ref="file" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="entitySimpleModel">
        <xs:annotation>
            <xs:documentation>普通模型</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityModelBase">
                    <xs:attribute ref="file" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="entityInstanced">
        <xs:annotation>
            <xs:documentation>Instanced实体</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityModelBase">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="entityGrass">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityPlantBase"></xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="entityTree">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="entityPlantBase"></xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="entityPlantBase">
        <xs:complexContent>
            <xs:extension base="entityModelBase">
                <xs:attribute ref="file" />
                <xs:attribute name="makeOnTerrain" type="bool" use="optional">
                    <xs:annotation><xs:documentation>当树木放入到场景时是否自动将树木移动到地面上。</xs:documentation></xs:annotation>
                </xs:attribute>
                <xs:attribute name="sway" type="bool" use="optional">
                    <xs:annotation><xs:documentation>打开树叶、草叶摇摆功能</xs:documentation></xs:annotation>
                </xs:attribute>
                <xs:attribute name="swayFrequency" type="xs:decimal" use="optional">
                    <xs:annotation><xs:documentation>摇摆频率</xs:documentation></xs:annotation>
                </xs:attribute>
                <xs:attribute name="swayVariation" type="xs:decimal" use="optional">
                    <xs:annotation><xs:documentation>摇摆扭曲</xs:documentation></xs:annotation>
                </xs:attribute>
                <xs:attribute name="swayDistance" type="xs:decimal" use="optional">
                    <xs:annotation><xs:documentation>最大摇摆距离</xs:documentation></xs:annotation>
                </xs:attribute>
                <xs:attribute name="swayWind" type="xs:string" use="optional">
                    <xs:annotation><xs:documentation>风向, 格式："x,y"</xs:documentation></xs:annotation>
                </xs:attribute>
                <xs:attribute name="swayGeometries" type="xs:string" use="optional">
                    <xs:annotation><xs:documentation>特殊指定要摇摆的网格物体，格式："geometryName1,geometryName2,...", 如果没有指定则所有网格摆动。</xs:documentation></xs:annotation>
                </xs:attribute>
                <xs:attribute name="randomScale" type="bool" use="optional">
                    <xs:annotation><xs:documentation>是否允许随机缩放，注意：打开该选项后，scale选项将被minScale和maxScale替换</xs:documentation></xs:annotation>
                </xs:attribute>
                <xs:attribute name="minScale" type="xs:decimal" use="optional">
                    <xs:annotation><xs:documentation>随机缩放的最小值,如“0.5”</xs:documentation></xs:annotation>
                </xs:attribute>
                <xs:attribute name="maxScale" type="xs:decimal" use="optional">
                    <xs:annotation><xs:documentation>随机缩放的最大值，如“1.5”</xs:documentation></xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
</xs:schema>
