ly-editor/data/template/LuoYing-RPG/data/meta/anim.xsd

<?xml version="1.0"?>
<!--
xs:string
xs:decimal
xs:integer
xs:boolean
xs:date
xs:time
-->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://luoying.huliqing.name"
           xmlns="http://luoying.huliqing.name"
           elementFormDefault="qualified" >
    
    <xs:include schemaLocation="./animBase.xsd" />
    
    <xs:element name="root">
        <xs:complexType>
            <xs:all>
                <xs:element ref="animMove" />
                <xs:element ref="animCurveMove" />
                <xs:element ref="animRotation" />
                <xs:element ref="animInterpolateRotation" />
                <xs:element ref="animRandomRotation" />
                <xs:element ref="animScale" />
                <xs:element ref="animColor" />
            </xs:all>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="animColor">
        <xs:annotation>
            <xs:documentation>
                颜色动画
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="animBase">
                    <xs:attribute name="startColor" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>开始颜色,如"0.5,0.5,0.5,1"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="endColor" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>结束颜色,如"1,1,1,1"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="animScale">
        <xs:annotation>
            <xs:documentation>
                缩放动画
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="animBase">
                    <xs:attribute name="startScale" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>开始的缩放值,如"1,1,1"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="endScale" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>结束时的缩放值,如"0.1,0.1,0.1"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="restore" type="bool" use="optional">
                        <xs:annotation>
                            <xs:documentation>是否在动画结束时复原缩放比率</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="scaleOffset" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>缩放点的偏移，格式: "x,y,z", 默认情况下以物体原点为缩放点进行缩放。</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="animRandomRotation">
        <xs:annotation>
            <xs:documentation>
                随机旋转动画
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="animBase">
                    <xs:attribute name="minDegree" type="xs:decimal" use="optional">
                        <xs:annotation>
                            <xs:documentation>最小旋转角度（非弧度）</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="maxDegree" type="xs:decimal" use="optional">
                        <xs:annotation>
                            <xs:documentation>最大旋转角度（非弧度）</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="axis" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>旋转轴，格式: "x,y,z"，如果没有指定这个参数，则使用随机生成的旋转轴</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="animRotation">
        <xs:annotation>
            <xs:documentation>
                旋转动画
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="animBase">
                    <xs:attribute name="axis" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>旋转轴,如"0,1,0"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="degree" type="xs:decimal" use="required">
                        <xs:annotation>
                            <xs:documentation>旋转角度，不是弧度</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="invert" type="bool" use="required">
                        <xs:annotation>
                            <xs:documentation>是否反方向旋转</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="restore" type="bool" use="optional">
                        <xs:annotation>
                            <xs:documentation>
                                旋转结束时是否复原开始时的旋转属性,如果打开这个参数，则动画开始时会记住
                                物体的旋转前的旋转属性，在结束的时候再复原该旋转属性。
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="animInterpolateRotation">
        <xs:annotation>
            <xs:documentation>插值旋转动画</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="animBase">
                    <xs:attribute name="start" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>指定开始旋转值，格式： "x,y,z"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="end" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>指定结束旋转值， 格式："x,y,z"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="animCurveMove">
        <xs:annotation>
            <xs:documentation>
                曲线移动动画
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="animBase">
                    <xs:attribute name="waypoints" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>
                                路径点,格式："position1,position2,..."
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="curveTension" type="xs:decimal" use="optional" />
                    <xs:attribute name="facePath" type="bool" use="optional" />
                    <xs:attribute name="rotationOffset" type="xs:string" use="optional" >
                        <xs:annotation>
                            <xs:documentation>初始旋转, 格式："x,y,z",分别表示在指定轴上的旋转度数</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="animMove">
        <xs:annotation>
            <xs:documentation>
                移动动画
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="animBase">
                    <xs:attribute name="startPos" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>开始位置,如"0,0,0"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="startPosOffset" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>开始位置的偏移,如"0,0,0"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="endPos" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>结束位置,如"1,1,1"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="endPosOffset" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>结束位置的偏移,如"1,1,1"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="facing" type="bool" use="optional">
                        <xs:annotation>
                            <xs:documentation>是否朝向目标</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
</xs:schema>
