ly-kernel/src/data/object/meta/config.xsd

<?xml version="1.0"?>
<!--
xs:string
xs:decimal
xs:integer
xs:boolean
xs:date
xs:time
-->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://fighter.huliqing.name"
           xmlns="http://fighter.huliqing.name"
           elementFormDefault="qualified">
    
    <xs:include schemaLocation="base.xsd" />
    
    <xs:element name="root">
        <xs:complexType>
            <xs:all>
                <xs:element ref="config" />
                <xs:element ref="configSkillType" />
            </xs:all>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="config" >
        <xs:annotation>
            <xs:documentation>
                全局配置信息
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="configBase">
                    <xs:attribute name="debug" type="bool" use="optional" >
                        <xs:annotation>
                            <xs:documentation>是否打开调试</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="gameName" type="xs:string" use="required" >
                        <xs:annotation>
                            <xs:documentation>游戏名称</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="versionName" type="xs:string" use="required" >
                        <xs:annotation>
                            <xs:documentation>版本描述，保持与versionCode一致，如:1.5.1对应versionCode为151。</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="versionCode" type="xs:integer" use="required" >
                        <xs:annotation>
                            <xs:documentation>版本号</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="port" type="xs:integer" use="required" >
                        <xs:annotation>
                            <xs:documentation>默认的联网游戏端口</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="portDiscoverServer" type="xs:integer" use="required" >
                        <xs:annotation>
                            <xs:documentation>Discover在服务端打开的端口，客户端可向服务端的这个udp端口广播消息来探测主机是否存在。</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="portDiscoverClient" type="xs:integer" use="required" >
                        <xs:annotation>
                            <xs:documentation>Discover在客户端打开的端口,服务端可向客户端的这个udp端口广播消息来通知所有可能存在的客户端。</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="dropFactor" type="xs:decimal" use="required" >
                        <xs:annotation>
                            <xs:documentation>物品掉落率百分比,取值[0.0~1.0]， 注：1.0表示100%掉落物品。设为0可关闭掉
     * 落设置</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="expFactor" type="xs:decimal" use="required" >
                        <xs:annotation>
                            <xs:documentation>奖励的经验倍率</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="enableRecord" type="bool" use="required" >
                        <xs:annotation>
                            <xs:documentation>是否打开视频录制功能,在android下无效</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="useLight" type="bool" use="required" >
                        <xs:annotation>
                            <xs:documentation>是否使用全局光源,不使用全局光源可提高运行性能.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="maxLevel" type="xs:integer" use="required" >
                        <xs:annotation>
                            <xs:documentation>游戏允许的最高等级限制</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="soundEnabled" type="bool" use="required" >
                        <xs:annotation>
                            <xs:documentation>声音开关</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="soundVolume" type="xs:decimal" use="required" >
                        <xs:annotation>
                            <xs:documentation>声音大小，0~1， 0为无声，1为最大声</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="shortcutLocked" type="bool" use="required" >
                        <xs:annotation>
                            <xs:documentation>是否锁定快捷方式</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="shortcutSize" type="xs:decimal" use="required" >
                        <xs:annotation>
                            <xs:documentation>shortcut的缩放倍率,1为原始大小，大于1则放大,小于1则缩小。
     * 注意不能等于0.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="baseWalkSpeed" type="xs:decimal" use="required" >
                        <xs:annotation>
                            <xs:documentation>默认的基本"步行"速度:1.5</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="baseRunSpeed" type="xs:decimal" use="required" >
                        <xs:annotation>
                            <xs:documentation>默认的基本"跑步"速度:6</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="locale" type="xs:string" use="required" >
                        <xs:annotation>
                            <xs:documentation>当前使用的语言,e.g. zh_CN</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="localeAll" type="xs:string" use="required" >
                        <xs:annotation>
                            <xs:documentation>当前游戏能够支持的所有语言环境,使用半角逗号分隔。
     * 注意1：这里与data.font中文件夹中的名字是对应的,不能随便修改。
     * 注意2: 前后和中间都不要出现空格。
     * 注意3: 排在第一个的为默认的语言环境，当目标系统找不到任何合适的语言环境时
     * 就使该环境</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="speakTimeMin" type="xs:decimal" use="required" >
                        <xs:annotation>
                            <xs:documentation>关于对话速度的限制，限制说话的最少停留时间</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="speakTimeMax" type="xs:decimal" use="required" >
                        <xs:annotation>
                            <xs:documentation>限制说话的最长停留时间</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="speakTimeWorld" type="xs:decimal" use="required" >
                        <xs:annotation>
                            <xs:documentation>设置每个单位字词的停留时间(秒)。如3个中文单位则speak的停留时间为
     * time = speakTimeWorld * 3; 增加这个值会延长每个speak谈话的停留时间。但
     * speak的最终停留时间会限制在speakTimeMin和speakTimeMax的范围之内。
     * 注：中文以每一个字作为一个单位，英文以每个单词作为一个单位。
     * 这个值可根据普通人的阅读速度来设置，假如普通阅读速度为每分钟300个字。
     * 则这个时间 speakTimeWorld = 60 / 300</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="speakMaxDistance" type="xs:decimal" use="required" >
                        <xs:annotation>
                            <xs:documentation>允许显示谈话内容的最远距离。</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="useHardwareSkinning" type="bool" use="required" >
                        <xs:annotation>
                            <xs:documentation>默认情况下暂不要打开该选项，这在某些老机型上会存在权重和贴图错误。
     * 对于一些新机型的用户可以自己决定是否打开。</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="summonLevelFactor" type="xs:decimal" use="required" >
                        <xs:annotation>
                            <xs:documentation>召唤的等级限制因数，该参数是一具相对于召唤者的设定。 
     * 召唤的角色等级这样计算： summonLevel = actor.level * summonLevelFactor;
     * 比如：0.5表示召唤出的角色的等级相当于召唤者等级的一半。当然summonLevel会
     * 强制转换为整数</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="lanGames" type="xs:string" use="required" >
                        <xs:annotation>
                            <xs:documentation>局域网游戏列表，格式"game1,game2,game3,..."</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="useShadow" type="bool" use="required" >
                        <xs:annotation>
                            <xs:documentation>是否打开投影功能，如果这个选项关闭则场景所有投影功能都应该关闭。</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
<!--    <xs:element name="configSkillType" >
        <xs:annotation>
            <xs:documentation>技能类型的定义</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="configBase">
                    <xs:attribute name="types" type="xs:string" use="optional" >
                        <xs:annotation>
                            <xs:documentation>技能类型定义，格式: "type1, type2, type3", 如: "walk,run,idle,fight"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>-->
    
    <xs:complexType name="configBase">
        <xs:complexContent>
            <xs:extension base="base">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
