ly-core/src/data/object/meta/env.xsd

<?xml version="1.0"?>
<!--
xs:string
xs:decimal
xs:integer
xs:boolean
xs:date
xs:time
-->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://fighter.huliqing.name"
           xmlns="http://fighter.huliqing.name"
           elementFormDefault="qualified">
    
    <xs:include schemaLocation="base.xsd" />
    
    <xs:element name="root">
        <xs:complexType>
            <xs:all>
                <xs:element ref="envSky" />
                <xs:element ref="envModel" />
                <xs:element ref="envTerrain" />
                <xs:element ref="envTree" />
                <xs:element ref="envGrass" />
                <xs:element ref="envWaterSimple" />
                <xs:element ref="envWaterAdvance" />
                
                <xs:element ref="envBoundaryBox" />
                <xs:element ref="envAudio" />
                <xs:element ref="envLightDirectional" />
                <xs:element ref="envLightAmbient" />
                <xs:element ref="envShadow" />
                
                <!--<xs:element ref="envGroup" />-->
                <!--<xs:element ref="envSun" />-->
            </xs:all>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="envShadow">
        <xs:annotation>
            <xs:documentation>阴影处理器,可以使场景中的物体产生阴影效果，注意：要获得阴影效果必须同时满足以下几个条件：
                1.全局打开阴影功能; 2: 场景打开阴影功能; 3: 场景中物体的shadowMode必须有Cast和CastAndReceive
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="envBase">
                    <xs:attribute name="shadowIntensity" type="xs:decimal" use="optional" >
                        <xs:annotation>
                            <xs:documentation>阴影强度，取值[0.0,1.0], 默认: "0.7"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="shadowMapSize" type="xs:decimal" use="optional" >
                        <xs:annotation><xs:documentation>The size of the rendered shadow maps (512,1024,2048, etc...). 默认: "1024"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="shadowMaps" type="xs:integer" use="optional" >
                        <xs:annotation><xs:documentation>The number of shadow maps rendered (the more shadow maps the more quality, the fewer fps).默认: "1"</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="envLightAmbient">
        <xs:annotation>
            <xs:documentation>环境光源</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="envBase">
                    <xs:attribute name="color" type="xs:string" use="optional" >
                        <xs:annotation>
                            <xs:documentation>环境光颜色,格式："r,g,b,a", 默认: "1,1,1,1"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="envLightDirectional">
        <xs:annotation>
            <xs:documentation>直射光源</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="envBase">
                    <xs:attribute ref="debug" />
                    <xs:attribute name="direction" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>直射光方向,默认: "0,-1,0"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="color" type="xs:string" use="optional" >
                        <xs:annotation>
                            <xs:documentation>直射光颜色,格式："r,g,b,a", 默认: "1,1,1,1"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="envAudio">
        <xs:annotation>
            <xs:documentation>环境声音</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="envBase">
                    <xs:attribute ref="debug" />
                    <xs:attribute ref="location" />
                    <xs:attribute name="sound" type="xs:string" use="required">
                        <xs:annotation><xs:documentation>关联到一个sound(sound.xml).</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="type" use="optional">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Buffer" />
                                <xs:enumeration value="Stream" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="direction" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>default:"0,0,1"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="directional" type="bool" use="optional">
                        <xs:annotation><xs:documentation>default: "0"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="innerAngle" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>[0,360], default: "360" </xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="looping" type="bool" use="optional">
                        <xs:annotation><xs:documentation>default: "0"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="maxDistance" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>default: "200"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="outerAngle" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>[0,360], default: "360" </xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="pitch" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>default: "1.0"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="positional" type="bool" use="optional">
                        <xs:annotation><xs:documentation>default: "1"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="refDistance" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>default: "10"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="reverbEnabled" type="bool" use="optional">
                        <xs:annotation><xs:documentation>default: "0"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="timeOffset" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>default: "0"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="velocity" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>default: "0,0,0"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="velocityFromTranslation" type="bool" use="optional">
                        <xs:annotation><xs:documentation>default: "0"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="volume" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>default: "1.0"</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="envBoundaryBox">
        <xs:annotation>
            <xs:documentation>边界物体,用于防止角色或玩家掉出场景边界</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="envBase">
                    <xs:attribute name="xyzExtends" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>边界的延伸,格式："x,y,z"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute ref="location" />
                    <xs:attribute ref="rotation" />
                    <xs:attribute ref="scale" />
                    <xs:attribute ref="debug" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="envWaterAdvance">
        <xs:annotation>
            <xs:documentation>高级水体效果，对机器性能要求比较高，目前不能支持移动设备。</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="envBase">
                    <xs:attribute name="causticsIntensity" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Sets the intensity of caustics under water. goes from 0 to 1, default is 0.5f</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="causticsTexture" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Sets the texture to use to render caustics on the ground underwater</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="center" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Set the center of the effect. By default the water will extent to the entire scene. By setting a center and a radius you can restrain it to a portion of the scene.</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="colorExtinction" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Return at what depth the refraction color extinct the first value is for red the second is for green the third is for blue Play with thos parameters to "trouble" the water default is (5.0, 20.0, 30.0f);</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="deepWaterColor" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Sets the deep water color see setWaterColor for general color default is (0.0039f, 0.00196f, 0.145f,1.0f) (very dark blue)</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="foamExistence" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Describes at what depth foam starts to fade out and at what it is completely invisible. The third value is at what height foam for waves appear (+ waterHeight). default is (0.45, 4.35, 1.5);</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="foamHardness" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Sets the foam hardness : How much the foam will blend with the shore to avoid hard edged water plane. Default is 1.0</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="foamIntensity" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>sets the foam intensity default is 0.5f</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="foamTexture" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Sets the foam texture</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="heightTexture" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Sets the height texture</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="lightColor" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Sets the light color to use default is white</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="lightDirection" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Sets the light direction, default is (0, -1, 0)</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="maxAmplitude" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Sets the maximum waves amplitude default is 1.5</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="normalScale" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Sets the normal scaling factors to apply to the normal map. the higher the value the more small ripples will be visible on the waves. default is 3.0</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="normalTexture" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Sets the normal Texture</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="radius" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Set the radius of the effect. By default the water will extent to the entire scene. By setting a center and a radius you can restrain it to a portion of the scene.</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="reflectionDisplace" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Sets the reflection displace. define how troubled will look the reflection in the water. default is 30</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="reflectionMapSize" type="xs:integer" use="optional">
                        <xs:annotation><xs:documentation>Sets the size of the reflection map default is 512, the higher, the better quality, but the slower the effect.</xs:documentation></xs:annotation>
                    </xs:attribute>
<!--                    <xs:attribute name="reflectionScene" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>1111111122</xs:documentation></xs:annotation>
                    </xs:attribute>-->
                    <xs:attribute name="refractionConstant" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>This is a constant related to the index of refraction (IOR) used to compute the fresnel term.default is 0.5</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="refractionStrength" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>This value modifies current fresnel term. If you want to weaken reflections use bigger value. If you want to empasize them use value smaller then 0. Default is 0.0f.</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="shapeType" use="optional">
                        <xs:annotation><xs:documentation>Set the shape of the water area (Circular (default) or Square). if the shape is square the radius is considered as an extent.</xs:documentation></xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Circular" />
                                <xs:enumeration value="Square" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="shininess" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Sets the shinines factor of the water default is 0.7f</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="shoreHardness" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>The smaller this value is, the softer the transition between shore and water. If you want hard edges use very big value. Default is 0.1f.</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="speed" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Set the speed of the waves (0.0 is still) default is 1.0</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="sunScale" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Sets the scale of the sun for specular effect, default is 3.0</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="underWaterFogDistance" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>sets the distance of the fog when under water. default is 120 (120 world units) use a high value to raise the view range under water</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="useCaustics" type="bool" use="optional">
                        <xs:annotation><xs:documentation>set to true if you want caustics to be rendered on the ground underwater, false otherwise, default is true(1)</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="useFoam" type="bool" use="optional">
                        <xs:annotation><xs:documentation>set to true to use foam with water, default is true</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="useHQShoreline" type="bool" use="optional">
                        <xs:annotation><xs:documentation>Whether or not the shader is set to use high-quality shoreline. default is true</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="useRefraction" type="bool" use="optional">
                        <xs:annotation><xs:documentation>set to true to use refraction (default is true)</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="useRipples" type="bool" use="optional">
                        <xs:annotation><xs:documentation>Set to true to use ripples, default is true</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="useSpecular" type="bool" use="optional">
                        <xs:annotation><xs:documentation>Set to true to use specular lightings on the water, default is true</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="waterColor" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>Sets the color of the water see setDeepWaterColor for deep water color default is (0.0078f, 0.3176f, 0.5f, 1.0f) (greenish blue)</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="waterHeight" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Sets the height of the water plane default is 0.0</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="waterTransparency" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Sets how fast will colours fade out. You can also think about this values as how clear water is. Therefore use smaller values (eg. 0.05) to have crystal clear water and bigger to achieve "muddy" water. default is 0.1f</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="waveScale" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>Sets the scale factor of the waves height map the smaller the value the bigger the waves default is 0.005f</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="windDirection" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>sets the wind direction the direction where the waves move default is (0.0f, -1.0f)</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <!--custom attribute-->
                    <xs:attribute name="useSceneLight" type="bool" use="optional">
                        <xs:annotation><xs:documentation>是否使用场景中的直射光源，打开这个选项后Water会从场景中找到第一个可用的直射光源作为水体渲染时使用的光源。否则使用Water默认设置的光源。默认true</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="envWaterSimple">
        <xs:annotation>
            <xs:documentation>轻量级水体效果，支持手机、移动设置。</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="envBase">
                    <xs:attribute name="waterModel" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>
                                指定一个模型，通常使用一个水平平面，格式：“Models/effect/water.mesh.j3o”
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute ref="location" />
                    <xs:attribute ref="rotation" />
                    <xs:attribute ref="scale" />
                    <xs:attribute name="waterColor" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>e.g. "r,g,b,a"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="texScale" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>e.g. "1.0"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="waveSpeed" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>e.g. "0.05"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="distortionMix" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>e.g. "0.5"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="distortionScale" type="xs:decimal" use="optional">
                        <xs:annotation><xs:documentation>e.g. "0.2"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="foamMap" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>e.g. "MatDefs/SimpleWater/foam3.jpg", 设置这个参数后必须设置foamMaskMap</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="foamScale" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>e.g. "1.0,1.0"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="foamMaskMap" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>e.g. "MatDefs/SimpleWater/foamMask.jpg"</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="foamMaskScale" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>e.g. "1.0,1.0"</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="envGrass">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="envPlantBase"></xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="envTree">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="envPlantBase"></xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="envTerrain">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="envModelBase">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="envModel">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="envModelBase"></xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="envPlantBase">
        <xs:complexContent>
            <xs:extension base="envModelBase">
                <xs:attribute name="randomScale" type="bool" use="optional">
                    <xs:annotation><xs:documentation>是否允许随机缩放，注意：打开该选项后，scale选项将被minScale和maxScale替换</xs:documentation></xs:annotation>
                </xs:attribute>
                <xs:attribute name="minScale" type="xs:decimal" use="optional">
                    <xs:annotation><xs:documentation>随机缩放的最小值,如“0.5”</xs:documentation></xs:annotation>
                </xs:attribute>
                <xs:attribute name="maxScale" type="xs:decimal" use="optional">
                    <xs:annotation><xs:documentation>随机缩放的最大值，如“1.5”</xs:documentation></xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="envModelBase">
        <xs:complexContent>
            <xs:extension base="envBase">
                <xs:attribute name="file" ref="file" use="required" />
                <xs:attribute  ref="location" use="optional" />
                <xs:attribute  ref="rotation" use="optional" />
                <xs:attribute  ref="scale" use="optional" />
                <xs:attribute name="pickable" type="bool" use="optional" >
                    <xs:annotation>
                        <xs:documentation>
                            物体是否是可选择的，即可用鼠标在游戏中选中。默认为false(0),
                            一般地面应该设置为true,否则玩家将无法控制角色在地面上行走，因为
                            玩家需要选择地面上的某个点来让角色走动。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="physics" type="bool" use="optional">
                    <xs:annotation><xs:documentation>是否支持物理检测，默认0(false)</xs:documentation></xs:annotation>
                </xs:attribute>
                <xs:attribute name="mass" ref="mass" use="optional" >
                    <xs:annotation><xs:documentation>质量大小，默认0，只有打开 physics时才有意义</xs:documentation></xs:annotation>
                </xs:attribute>
                <xs:attribute name="friction" type="xs:decimal" use="optional">
                    <xs:annotation><xs:documentation>摩擦力大小，只有开起了physics参数才有意义,默认值0.</xs:documentation></xs:annotation>
                </xs:attribute>
                <xs:attribute name="shadowMode" use="optional">
                    <xs:annotation><xs:documentation>投影模式，默认值Inherit</xs:documentation></xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Off" />
                            <xs:enumeration value="Cast" />
                            <xs:enumeration value="Receive" />
                            <xs:enumeration value="CastAndReceive" />
                            <xs:enumeration value="Inherit" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="useUnshaded" type="bool" use="optional">
                    <xs:annotation><xs:documentation>是否使用Unshaded材质进行渲染，打开这个选项会尝试将模型使用的材质替换为unshaded进行渲染，即不需要添加light。 打开这个选项可提高性能，但是会降低视觉效果。</xs:documentation></xs:annotation>
                </xs:attribute>
                <xs:attribute name="terrain" type="bool" use="optional">
                    <xs:annotation><xs:documentation>是否作为地形的一部分，当作为地型的一部分时可进行点击，并让角色在上面行走。</xs:documentation></xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="envSky">
        <xs:annotation>
            <xs:documentation>天空盒，必须同时指定多张图片。每张图片宽度，高度必须一致。</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="envBase">
                     <xs:attribute name="baseDir" type="xs:string" use="optional">
                        <xs:annotation><xs:documentation>e.g. "Textures/tex/sky/default/"</xs:documentation></xs:annotation>
                    </xs:attribute>
                     <xs:attribute name="west" type="xs:string" use="required">
                        <xs:annotation><xs:documentation>west image, e.g. "Textures/tex/sky/default/west.jpg" or "west.jpg"(if set the "baseDir")</xs:documentation></xs:annotation>
                    </xs:attribute>
                     <xs:attribute name="east" type="xs:string" use="required">
                        <xs:annotation><xs:documentation>west image, e.g. "Textures/tex/sky/default/east.jpg" or "east.jpg"(if set the "baseDir")</xs:documentation></xs:annotation>
                    </xs:attribute>
                     <xs:attribute name="north" type="xs:string" use="required">
                        <xs:annotation><xs:documentation>west image, e.g. "Textures/tex/sky/default/north.jpg" or "north.jpg"(if set the "baseDir")</xs:documentation></xs:annotation>
                    </xs:attribute>
                     <xs:attribute name="south" type="xs:string" use="required">
                        <xs:annotation><xs:documentation>west image, e.g. "Textures/tex/sky/default/south.jpg" or "south.jpg"(if set the "baseDir")</xs:documentation></xs:annotation>
                    </xs:attribute>
                     <xs:attribute name="up" type="xs:string" use="required">
                        <xs:annotation><xs:documentation>west image, e.g. "Textures/tex/sky/default/up.jpg" or "up.jpg"(if set the "baseDir")</xs:documentation></xs:annotation>
                    </xs:attribute>
                     <xs:attribute name="down" type="xs:string" use="required">
                        <xs:annotation><xs:documentation>west image, e.g. "Textures/tex/sky/default/down.jpg" or "down.jpg"(if set the "baseDir")</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="envBase">
        <xs:complexContent>
            <xs:extension base="base">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
</xs:schema>
